
    body{
      background-color:black;
      color:#ff00ff;
    }
    h1{
      text-align:center;
    }
    .assign{
      background-color: navy;
      border: 2px solid cornflowerblue;
      border-radius: 5px;
      margin: 5% 10% 5% 10%;
    }
    .assign-det{
      border: 2px solid crimson;
      border-radius:5px;
      margin: 5% 5% 5% 5%;
    }
    img{
      width: 90%;
      border: 4px solid aquamarine;
      margin: 5% 5% 5% 5%;
    }
    img:hover{
      width: 95%;
      border: 6px solid aqua;
      margin: 5% 5% 5% 5%;
    }
    a, h2{
      color:#ff00ff;
      text-align:center; 
    }
    a:hover {
      text-decoration: none; /* remove underlining on anchor tags */
      color: aqua; /* pick the color you want */
    }
    a:clicked {
      text-decoration: dashed; /* remove underlining on anchor tags */
      color: red; /* pick the color you want */
    }
